body
{
    background-color:white;
    margin: 0%;
}

.Encabezado
{
background-image: url(videogames-controller-1920x1080-1.jpg);
text-align: center;
padding: 20px;
color:white;
border:1px solid black;
}

.Cositas
{
   text-align: center;
   padding: 20px;
   background-color:grey;
   
}

.Cositas a
{
    color:white;
    text-decoration: none;
    margin: 25px;
    
}

.Cositas a:hover
{
    color: black;
    font-weight: 800;
    background-color: yellow;
    border-radius: 30px;
}

.Imagen1 img
{
    height: 263px;
    font-size:18px;
    border: 1px solid black;
    background-color: aquamarine;
    width: 200px;
    object-fit: cover;

}

.Imagen2 img
{
height: 263px;
font-size:18px;
border: 1px solid black;
background-color: aquamarine;
width: 200px;
object-fit: cover;
}

.Estudios
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    align-items:center;
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: aquamarine;
    
}



.Redes
{
    text-align: center;
    background-color: cadetblue;
    border:1px solid black ;
    padding: 30px;
}

.Redes a
{
color:black;
margin: 10px;
}

.Informacion1 
{
border:1px solid black ;
background-color: aquamarine;
display: flex;
}

.Informacion2
{
border:1px solid black;
background-color: aquamarine;
display: flex;
}

.Red
{
font-size: 30px;
color: black;
font-weight: bolder;

}





